/* Layout responsivo */

#corpo-det {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

img.stageprint {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

img.select-character {
    width: 80%;
}

/* Navbar */

.navbar {
    background-color: rgb(139, 139, 139);
}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgba(176, 176, 176, 0.653)!important;
}

/* Detonado do X e do Zero */

p.introp {
    margin: 8px;
    text-indent: 2ch;
    font-size: 22px;
  }

p.XStage {
    margin: 8px;
    text-indent: 2ch;
    font-size: 18px;
}

p.ZStage {
    margin: 8px;
    text-indent: 2ch;
    font-size: 18px;
}

h1 {
    margin: 8px;
    font-size: 40px;
}

h2 {
    margin: 8px;
    font-size: 28px
}

h3 {
    margin: 8px;
    font-size: 28px
}

img {
    margin: 5px;
}

a {
    font-size: 20px;
}

/* Cards */

.card-img {
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}

.card {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-color: black;
    border-width: 2px;
}

/* Footer */

footer {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
}

p.footerp {
    color: white;
}
.footer-div {
    margin-top: 8px;
    margin-bottom: 12px;
    color: white;
}
