* {margin: 0;
padding: 0;}

/* Nav */

body {
    font-size: 'Roboto', 'sans-serif';
}

.row {
    margin: 0;
}

.nav-container {
    padding: 70px 0;
}

header, .navbar {
    background-color: rgb(62, 62, 62);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand:hover {
    padding: 0;
    color: white;
}

#navbar-links a {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;

}

a {
    font-size: 20px;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 200px 200px;
    justify-content: center;
    margin-top: 20px;
}

/* Footer */

footer {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
}

p.footerp {
    color: white;
}
.footer-div {
    margin-top: 8px;
    margin-bottom: 12px;
    color: white;
}