/* Navbar */

.navbar {
    background-color: rgb(139, 139, 139);
}

.modal {
    width: 300px;
}

.modal-content {
    width: 300px;
}

.list-group-item:hover {
    background-color: rgba(176, 176, 176, 0.653)!important;
}


/* Footer */

footer {
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
}

p.footerp {
    color: white;
}
.footer-div {
    margin-top: 8px;
    margin-bottom: 12px;
    color: rgb(35, 35, 35);
}
